[submodule "vendor/libui"]
	path = vendor/libui
	url = https://github.com/beijaflor-io/libui.git
[submodule "vendor/haskell-ascii-progress"]
	path = vendor/haskell-ascii-progress
	url = https://github.com/yamadapc/haskell-ascii-progress.git
